In [1]:
import csv
import pandas as pd
import numpy as np

In [12]:
all_trip_data = pd.read_csv('tripad_data.csv')

all_trip_data#.head()

,Unnamed: 0,HotelInfo.HotelID,HotelInfo.Name,Author,ReviewID,Service,Cleanliness,Rooms,Value,Sleep Quality,Location,"Business service (e.g., internet access)",Check in / front desk,Overall,Title,Content,Date,AuthorLocation
0,0,280518,NH Berlin City West,Clara79,UR2592389,3,3,3,4,4,3,0,0,3.0,“Loved the Artus”,This hotel was a bit of a surprise as we could...,"September 22, 2004","Newcastle,UK"
1,1,280518,NH Berlin City West,BerlinerPooh,UR3015596,1,1,0,1,1,1,0,0,1.0,“A very decent hotel in West Berlin.”,The rooms are adequate but a little on the dra...,"January 18, 2005","Kigali, Rwanda"
2,2,280518,NH Berlin City West,amazingthing,UR3456048,2,4,3,3,4,3,0,0,3.0,“Great stay”,I first read the reviews on this side and when...,"May 10, 2005",Switzerland
3,3,280518,NH Berlin City West,Nitus,UR4045777,4,4,0,5,5,0,0,0,4.0,“Affordable but very petite”,Having had a one night stay in the Artus Hotel...,"October 23, 2005","Willich, Germany"
4,4,280518,NH Berlin City West,mattp1874,UR7014779,4,5,4,4,5,5,0,0,4.0,“Not quite there yet”,I stayed at this hotel for 2 nights. It was ok...,"March 12, 2007",London
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1325442,1325442,78587,Chablis Inn,tulipslover,UR124992186,3,3,3,3,0,0,0,0,3.0,“Comfortable”,"This hotel is ""cute"", clean, and the staff are...","February 21, 2012",San Francisco
1325443,1325443,78587,Chablis Inn,Kathi B,UR125442854,4,5,5,4,0,0,0,0,5.0,“great value in Napa”,We stay here every time we are in Napa visitin...,"March 1, 2012","North Canton, Ohio"
1325444,1325444,78587,Chablis Inn,Carolynn S,UR125932840,4,5,4,4,0,0,0,0,4.0,“You won't trip over the furniture...”,..because there is not much in the way of furn...,"March 11, 2012","San Francisco, California"
1325445,1325445,78587,Chablis Inn,FrankHutch,UR127701764,0,0,0,0,0,0,0,0,4.0,"“A clean, welcoming, low-cost option”",A surprising alternative to the many over-pric...,"April 11, 2012","Seattle, Washington"
1325446,1325446,78587,Chablis Inn,scoredonu,UR127992624,2,2,3,3,0,0,0,0,3.0,“Budget Stay in Napa Valley”,What this hotel clearly is not is a resort. In...,"April 16, 2012","Sacramento, California"

In [13]:
UPC_data = pd.read_csv('UPC.csv')

del UPC_data['Unnamed: 0']

author = UPC_data['Author']

author

0        Elizabeth R
1             John P
2             Jeff C
3           Joanne L
4         Davynessie
            ...
24079       baltohon
24080          fitzN
24081    Sylvie10013
24082           ESJT
24083       larad427
Name: Author, Length: 24084, dtype: object

In [23]:
UPC_data = all_trip_data[all_trip_data['Author'].isin(author)]
UPC_data = UPC_data.sort_values(by=['Author'],axis=0)
UPC_data = UPC_data.reset_index()
del UPC_data['index']
del UPC_data['Unnamed: 0']

UPC_data

UPC_data.to_csv("DNN_input_data.csv")